<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.1.1.min.js" charset="utf-8"></script>
    <style>
        #payPage {
            width: 30%;
            margin-left: 35%;
        }
    </style>
</head>
<body>
<div class="One_Jdbox">
    <div class="Jdbox_head">
        <img src="/img/logo1.jpg" alt="">
        <ul>
            <li><span th:text="'你好,'+ ${nickname} "></span><span>退出</span></li>
        </ul>
    </div>

    <div class="Jd_main">
        <ul>
            <li>
                <span th:text="'应付金额'+${totalAmount}+'元'" style=" margin-left: 40%; width: 1000px"> </span>
            </li>
            <span><img src="/img/payPage.jpg" id="payPage"></span>
            <li>
                <button id="paymentButton" style=" margin-left: 40%;">立即支付</button>
            </li>
        </ul>
    </div>

</div>

    <input type="hidden" name="orderId" th:value="${orderId}" id="orderId">

</body>
<script language="JavaScript">
    $(function () {
        $("#paymentButton").click(function () {
            window.location.href = "http://localhost:8087/callback?orderId=" + $("#orderId").val();
        })
    })
</script>
</html>
